body {
  background-color: skyblue;
  font-family: 'Open Sans', sans-serif;
}

button:hover {
  background-color: red;
  color: blue;
  border-radius: 8px: box-shadow: inset 2px 2px 5px white;
}

input[type="text"],
input[type="email"],
textarea,
select,
button {
  display: block;
  margin: 15px 0px;
  width: 400px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: inset 2px 2px 5px grey;
}

img {
  border-radius: 8px;
  height: 20%;
  width: 20%;
}

li.nav {
  display: inline-block;
  height: 20px;
  width: 80px;
  padding: 10px;
  text-align: center;
  color: white;
  border-left: 2px solid green;
  border-right: 1px solid green;
  background-color: olive;
}

li.nav:hover {
  background-color: lightgreen;
  border-style: none;
  border: 1px solid red;
}

p {
  margin: 30px 0;
  padding: 5px;
}

table {
  background-color: #62C1F0;
  border-collapse: collapse;
  width: 300px;
}

td,
th {
  border: 1px solid red;
  padding: 10px 5px;
}

textarea {
  height: 200px;
  background-color: lightgreen;
  padding: 5px, 4px;
}

ul a {
  color: white;
  text-decoration: none;
}
